db.sqlite3
omsproject/media/static/brinjal.jpg
omsproject/media/static/capcicum.jpg
omsproject/media/static/carrot.jpg
omsproject/media/static/corn.jpg
omsproject/media/static/cucumber.jpg
omsproject/media/static/dates.jpg
omsproject/media/static/egg.jpeg
omsproject/media/static/green_pepper.jpg
omsproject/media/static/greenchilli.jpeg
omsproject/media/static/guava.jpg
omsproject/media/static/lemon.jpg
omsproject/media/static/masur.jpg
omsproject/media/static/mosambi.jpg
omsproject/media/static/orange.jpg
omsproject/media/static/papaya.jpeg
omsproject/media/static/placeholder.png
omsproject/media/static/potato_hOijflS.jpg
omsproject/media/static/potato.jpg
omsproject/media/static/pumpkin.jpg
omsproject/media/static/radish.jpg
omsproject/media/static/rawpapaya.jpg
omsproject/media/static/tomato.jpg
