{% extends 'profile.html' %}
{% load static %}
{% block bulksupply %}
<table class="table table-primary table-hover caption-top" id="allOrdersTable">
    <caption><strong>Received Bulk Buy Enquiries</strong></caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Enquiry No.</th>
        <th scope="col">Enquiry Placed On</th>
        <th scope="col">Expected Delivery By</th>
        <th scope="col">Enquiry From</th>
        <th scope="col">Phone</th>
        <th scope="col">No. of Items Enquired</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody class="table table-hover table-group-divider">
        {% for order in bulkorders %}
        <tr>
            <td>
                {{forloop.counter}}
            </td>
            <td>
                {{order.bulkBuyNo}}
            </td>
            <td>
                {{order.bulkBuyDate}}
            </td>
            <td>
                {{order.bulkBuyExpDate}}
            </td>
            <td>
                {{order.userID.first_name}}
            </td>
            <td>
                {{order.userID.phone}}
            </td>
            <td>
                {{order.count_items}}
            </td>
            <td>
                <a href="{% url 'bulk-buy-details' order.bulkBuyID %}" class="btn btn-sm btn-info">View</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">
                No order for bulk buy has been placed yet!
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}