{% extends 'index.html' %}
{% load static %}
{% block CartPage %}
<div class="cart-container text-center" style="margin-left: 5rem; margin-right: 5rem;">
    <div class="row cartitem-row" style="text-align: center; padding-top: 1rem; font-weight: bold;">
        <div class="col-md-1">
            Sl. #
        </div>
        <div class="col-md-1">
            Item
        </div>
        <div class="col-md-4">
            Item Name
        </div>
        <div class="col-md-1">
            Price
        </div>
        <div class="col-md-1">
            Qty.
        </div>
        <div class="col-md-1">
            Total Price
        </div>
        <div class="col-md-3">
            Actions
        </div>
    </div>
    {% for item in cart %}
    <form method="post" id="ordereditemform" action="{% url 'update_cart' item.product.itemID %}">
        {% csrf_token %}
        <div class="row cartitem-row">
            <div class="col-md-1" style="text-align: center; padding-top: 1rem;">
                {{ forloop.counter }}
            </div>
            <div class="col-md-1">
                <img src="{{item.product.itemImg.url}}" alt={{item.itemName}} height="50px" width="50px" style="padding: 5px 5px 5px 5px;">
            </div>
            <div class="col-md-4" style="text-align: left;">
                <h5>{{item.product.itemName}}</h5>
                <span class="form-text">
                    Sold By: {{ item.product.userID.first_name }}
                 </span>
            </div>
            <div class="col-md-1" style="text-align: right; padding-top: 1rem;">
                {{ item.price }} X 
            </div>
            <div class="col-md-1" style="text-align: left;padding-top: 1rem;">
                <select class="form-select form-select-sm" style="width: 70px; height:30px;" id="selectQty" name="selectQuantity">
                    <option value="{{ item.quantity }}" selected>{{ item.quantity }}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class="col-md-1" style="text-align: right;padding-top: 1rem;">
                {{ item.total_price }}
            </div>
            <div class="col-md-3" style="padding-top: 1rem;">
                <button type="submit" id={{item.itemID}} name="updateItem" class="btn btn-info btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    Update
                </button>
                <a class="btn btn-danger btn-sm" href="{% url 'remove_from_cart' item.product.itemID %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
                        <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    Remove
                </a>
            </div>
        </div>
    </form>
    {% endfor %}
</div>
<div class="alert alert-info" role="alert" id="cartEmptyAlert">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg>
    The basket seems to be empty!
    <a href="{% url 'index' %}" class="alert-link">Click to Add Items.</a>
</div>
<div class="sticky-bottom container" style="background-color: rgb(243, 183, 236); height:5rem">
    <form method="post" id="orderForm" action="{% if user_authenticated %}{% url 'createorder' total_qty total_price 0 0 %}{% else %}{% url 'login' %}{% endif %}"> <!--cart.total_quantity cart.total_price-->
        {% csrf_token %}
        <div>
            <div class="row" style="text-align: center; padding-top: 1rem; font-weight: bold;">
                <div class="col-md-2">
                    Total Quantity:
                    {{ total_qty }}
                </div>
                <div class="col-md-4">
                    Total Amount (in Rs.):
                    {{ total_price }}
                </div>
                <div class="col-md-1" style="text-align: right;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/>
                    </svg>
                </div>
                <div class="col-md-1">
                    <select class="form-control" id="selectDeliveryDate" name="selectDeliveryDate" style="font-size: 12px; height: 30px; width: 130px;">
                        {% for date in dateSeries %}
                        <option value="{{date}}">
                            {{date}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-1" style="text-align: right; font-size: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                        <path d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"/>
                    </svg>
                </div>
                <div class="col-md-1">
                    <select class="form-control" id="selectDeliveryTime" name="selectDeliveryTime" style="font-size: 12px; height: 30px; width: 120px;">
                        {% for time in timeSeries %}
                        <option value="{{time}}">
                            {{time}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2" style="text-align: center;">
                    <button type="submit" class="btn btn-primary btn-sm" id="buyButton" style="height: 30px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                            <path d="m480-560-56-56 63-64H320v-80h167l-64-64 57-56 160 160-160 160ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/>
                        </svg>
                        Proceed to Buy
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    window.addEventListener("load", (event) => {
        var shoppingBasket = document.getElementById('shoppingBasket');
        var buyButton = document.getElementById('buyButton');
        var totalPrice = document.getElementById('totalPrice').innerText;
        var cartEmptyAlert = document.getElementById('cartEmptyAlert');
        if(totalPrice == 0){
            buyButton.disabled = true;
            cartEmptyAlert.style.display = "block";
            shoppingBasket.style.display="none";
        }
        else
        {
            buyButton.disabled = false;
            cartEmptyAlert.style.display = "none";
            shoppingBasket.style.display="block";
        }
    });
</script>
{% endblock %}