{% extends 'admin-console.html' %}
{% load static %}
{% block dashboard %}
<style>
    #map {
        height: 500px;
        margin-bottom: 20px;
    }

    .leaflet-control-geocoder-form input {
        color: black; /* Change this to any color you want */
        font-weight: bold;
    }

    /* Optional: change placeholder color */
    .leaflet-control-geocoder-form input::placeholder {
        color: #999999;
        font-style: italic;
    }
</style>
<div class="bg-white p-4 shadow rounded border border-gray-300">
    <!-- <section id="values">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <a href="{% url 'item_list' %}">
                <div class="bg-yellow-500 text-white p-4 rounded shadow">
                    <h3 class="text-sm">Total Items</h3>
                    <p class="text-2xl font-semibold mt-1">{{dashboard.total_items}}</p>
                </div>
            </a>
            <a href="{% url 'receivedorders' %}">
                <div class="bg-blue-500 text-white p-4 rounded shadow">
                    <h3 class="text-sm">Total Orders</h3>
                    <p class="text-2xl font-semibold mt-1">{{dashboard.received_orders}}</p>
                </div>
            </a>
            <a href="{% url 'bulk-buy-supply' %}">
                <div class="bg-pink-500 text-white p-4 rounded shadow">
                    <h3 class="text-sm">Total Bulk-Buy Requests</h3>
                    <p class="text-2xl font-semibold mt-1">{{dashboard.bulk_buy}}</p>
                </div>
            </a>
            <a href="{% url 'bulk-buy-supply' %}">
                <div class="bg-purple-500 text-white p-4 rounded shadow">
                    <h3 class="text-sm">Revenue</h3>
                    <p class="text-2xl font-semibold mt-1">₹{{dashboard.total_revenue}}</p>
                </div>
            </a>
        </div>
    </section> -->
    <section id="analytics_map">
        <h2 class="text-xl font-semibold mb-4">Analytics</h2>
        <div class="flex flex-col md:flex-row items-center md:items-stretch gap-4 mb-4">
            <!-- Select Dropdown -->
            <div class="flex flex-col">
                <label for="servingArea" class="mb-1">Select Serving Area:</label>
                <select id="servingArea" name="servingArea"
                    class="servingArea w-full md:w-60 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="">Select Area</option>
                    {% for area in dashboard.serving_area %}
                    <option value="{{ area.userCity1 }}">{{ area.userCity1_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- School Card -->
            <a href="#" onclick="showing_users_in_map('3')" class="w-full md:w-48">
                <div class="bg-yellow-500 text-white p-4 rounded shadow h-full">
                <h3 class="text-sm">School</h3>
                <p class="text-2xl font-semibold mt-1" id="schools"></p>
                </div>
            </a>
            <!-- Others Card -->
            <a href="#" onclick="showing_users_in_map('5')" class="w-full md:w-48">
                <div class="bg-purple-500 text-white p-4 rounded shadow h-full">
                <h3 class="text-sm">Others</h3>
                <p class="text-2xl font-semibold mt-1" id="individuals"></p>
                </div>
            </a>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-4">
            <div id="div_total" class="bg-white-500 text-black p-4 rounded shadow">
                <h3 class="text-sm" id="h3_total">Total</h3>
                <p class="text-2xl font-semibold mt-1" id="total_schools"></p>
            </div>
            <div id="div_regd" class="bg-white-500 text-black p-4 rounded shadow">
                <h3 class="text-sm" id="h3_regd">Registered</h3>
                <p class="text-2xl font-semibold mt-1" id="registered_schools"></p>
            </div>
            <div id="div_order" class="bg-white-500 text-black  p-4 rounded shadow">
                <h3 class="text-sm" id="h3_order">Ordering</h3>
                <p class="text-2xl font-semibold mt-1" id="ordering_schools"></p>
            </div>
        </div>
        <div class="relative w-full mb-4">
            <input type="text" id="customerSearch" placeholder="Search School..."
                class="w-full pl-12 pr-4 py-3 border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-green-400" />

            <button onclick="showing_users_in_map('3')" type="button"
                class="absolute right-4 top-1/2 transform -translate-y-1/2 text-gray-500 hover:text-green-600 focus:outline-none">
                <!-- Search Icon (Heroicon) -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 21l-4.35-4.35M17 11a6 6 0 11-12 0 6 6 0 0112 0z" />
                </svg>
            </button>
        </div>


        <div class="bg-white p-4 shadow rounded">
        <div id="map"></div>
        <script>
            // Center the map on Odisha
            var map = L.map('map').setView([20.9517, 85.0985], 7);
            // Load OpenStreetMap tiles
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);
            let markers =  L.layerGroup().addTo(map);

            function showing_users_in_map(userType){
                markers.clearLayers();
                const servingArea = document.getElementById('servingArea');
                const selectedArea = servingArea.options[servingArea.selectedIndex].text;
                const school = document.getElementById('customerSearch').value;
                if(servingArea.value === ''){
                    alert('Please select a serving area!');
                    return;
                }

                switch(userType){
                    case '3':
                        document.getElementById('div_total').style.backgroundColor = "rgb(245, 158, 11)";
                        document.getElementById('div_regd').style.backgroundColor = "rgb(245, 158, 11)";
                        document.getElementById('div_order').style.backgroundColor = "rgb(245, 158, 11)";
                        document.getElementById('div_total').style.color = "rgb(255, 255, 255)";
                        document.getElementById('div_regd').style.color = "rgb(255, 255, 255)";
                        document.getElementById('div_order').style.color = "rgb(255, 255, 255)";
                        break;
                    case '5':
                        document.getElementById('div_total').style.backgroundColor = "rgb(139, 92, 246)";
                        document.getElementById('div_regd').style.backgroundColor = "rgb(139, 92, 246)";
                        document.getElementById('div_order').style.backgroundColor = "rgb(139, 92, 246)";
                        document.getElementById('div_total').style.color = "rgb(255, 255, 255)";
                        document.getElementById('div_regd').style.color = "rgb(255, 255, 255)";
                        document.getElementById('div_order').style.color = "rgb(255, 255, 255)";
                        break;
                }
                //the green marker
                var greenIcon = new L.Icon({
                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });

                var redIcon = new L.Icon({
                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });
                
                var yellowIcon = new L.Icon({
                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png',
                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });

                var blackIcon = new L.Icon({
                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-black.png',
                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });

                var locations = [];
                // Example markers — in Django, these are generated from the context
                let url = "{% url 'track-coordinate' %}?type="+userType+"&area="+selectedArea+"&code="+servingArea.value+"&cust="+school;
                fetch(url)  // Replace with your actual Django view URL
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();  // Parse JSON data
                })
                .then(data => {
                    document.getElementById('total_schools').textContent = data.total_schools;
                    document.getElementById('registered_schools').textContent = data.registered_schools;
                    document.getElementById('ordering_schools').textContent = data.ordering_schools;
                    if(data.total_schools == 0){
                        alert('No registration is found!');
                    }
                    //console.log(document.getElementById('total_schools'));
                    const addresses = data.coordinates;
                    addresses.forEach(addr => {
                        locations.push({
                            name:addr.name,
                            order_count:addr.order_count,
                            lat:addr.address_lat,
                            lon:addr.address_long,
                            icon:addr.icon,
                            village:addr.village,
                            students:addr.students
                        });
                    });
                    locations.forEach(function(loc) {
                        //console.log("lat"+loc.lat+", long"+loc.lon);
                        //console.log(loc.name+","+loc.icon)
                        var icon = new L.icon();
                        if(loc.icon == 'green'){
                            icon = greenIcon;
                        }
                        else if(loc.icon == 'black'){
                            icon = blackIcon;
                        }
                        else if(loc.icon == 'yellow'){
                            icon = yellowIcon;
                        }
                        else{
                            icon = redIcon;
                        }
                        const marker = L.marker([loc.lat, loc.lon], {icon:icon}).addTo(map).bindPopup("<b>" + loc.name + "<br>No. of Orders: "+ loc.order_count + "<br>Village: "+loc.village + "<br>No. of Students: "+loc.students);
                        markers.addLayer(marker);
                    });
                })
                .catch(error => {
                    console.log(error);
                    alert('Error in fetching data.', error);
                    //console.error('Error fetching data:', error);
                });
            }
            </script>
        </div>
    </section>
</div>
{% endblock %}

