{% extends 'admin-console.html' %}
{% load static %}
{% block item_list %}
<h2 class="text-xl font-semibold mb-4">Items</h2>
<div class="bg-white p-4 shadow rounded border border-gray-300">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="bg-yellow-500 text-white p-4 rounded shadow">
            <h3 class="text-sm">Total Categories</h3>
            <p class="text-2xl font-semibold mt-1">{{total_item_categories}}</p>
        </div>
        <div class="bg-blue-500 text-white p-4 rounded shadow">
            <h3 class="text-sm">Total Items</h3>
            <p class="text-2xl font-semibold mt-1">{{total_items|length}}</p>
        </div>
        <div class="bg-green-500 text-white p-4 rounded shadow">
            <h3 class="text-sm">Feature Items</h3>
            <p class="text-2xl font-semibold mt-1">{{total_featured_items}}</p>
        </div>
        <div class="bg-green-500 text-white p-4 rounded shadow">
            <h3 class="text-sm">In Stock Items</h3>
            <p class="text-2xl font-semibold mt-1">{{total_instock_items}}</p>
        </div>
        <div class="bg-green-500 text-white p-4 rounded shadow">
            <h3 class="text-sm">Active Items</h3>
            <p class="text-2xl font-semibold mt-1">{{total_active_items}}</p>
        </div>
    </div>
    <br>
    <div class="flex justify-between items-center mb-4">
        {% if user_approved %}
        <a href="{% url 'item_entry' %}" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Add Item</a>
        {% else %}
        <a href="#" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 disabled-inputs">Add Item</a>
        {% endif %}
        <form method="post" action="{% url 'item_import' %}" enctype="multipart/form-data" class="flex items-center space-x-2">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <script>
                alert("{{ message|escapejs }}");
            </script>
            {% endfor %}
            {% endif %}
            <!-- Style file input for better appearance -->
            <div class="relative">
                {{ excel_form.excel_file }}
            </div>
            <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">
                Import Item
            </button>
        </form>
    </div>
    
    <div class="mb-4">
        <input type="text" id="itemSearch" onkeyup="searchItems()" placeholder="Search item..." class="w-full p-2 rounded border border-gray-300 focus:outline-none">
    </div>
    <table id="itemTable" class="w-full text-left text-sm border border-gray-300 bg-white">
        <thead class="text-gray-700 border-b border-gray-300">
        <tr>
            <th class="py-2 px-3">#</th>
            <th class="py-2 px-3">Name</th>
            <th class="py-2 px-3">Category</th>
            <th class="py-2 px-3">Price (in ₹)</th>
            <th class="py-2 px-3">Unit</th>
            <th class="py-2 px-3">Action</th>
            <th class="py-2 px-3">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for item in total_items %}
        <tr class="border-b border-gray-300 hover:bg-gray-100">
            <td class="py-2 px-3">{{forloop.counter}}</td>
            <td class="py-2 px-3">{{item.itemName}}</td>
            <td class="py-2 px-3">{{item.itemCat}}</td>
            <td class="py-2 px-3">{{item.itemPrice}}</td>
            <td class="py-2 px-3">{{item.itemUnit}}</td>
            <td class="py-2 px-3">
            <a href="{% url 'edit_item' item.itemID %}" class="px-2 py-1 text-xs rounded bg-yellow-600 text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Edit {{item.itemName}}">
                Edit
            </a>
            </td>
            <td class="py-2 px-3 space-x-2">
            {% if item.itemActive %}
            <a class="px-2 py-1 text-xs rounded bg-green-600 text-white" href="{% url 'change_item_status' item.itemID %}">Active</a>
            {% else %}
            <a class="px-2 py-1 text-xs rounded bg-red-600 text-white" href="{% url 'change_item_status' item.itemID %}">Inactive</a>
            {% endif %}

            {% if item.itemInStock %}
            <a class="px-2 py-1 text-xs rounded bg-green-600 text-white" href="{% url 'change_item_stock' item.itemID %}">In Stock</a>
            {% else %}
            <a class="px-2 py-1 text-xs rounded bg-red-600 text-white" href="{% url 'change_item_stock' item.itemID %}">Stock Out</a>
            {% endif %}
            
            {% if item.featureItem %}
            <a class="px-2 py-1 text-xs rounded bg-green-600 text-white" href="{% url 'change_item_feature' item.itemID %}">Featured</a>
            {% else %}
            <a class="px-2 py-1 text-xs rounded bg-red-600 text-white" href="{% url 'change_item_feature' item.itemID %}">Featured Out</a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="pagination" class="mt-4 flex justify-center"></div>
</div>
{% endblock %}