{% extends 'index.html' %}
{% block PlacedOrders %}

<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    {% csrf_token %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sl. No.</th>
                                <th>Order No.</th>
                                <th>Order Date</th>
                                <th>Schedule Delivery Date</th>
                                <th>Schedule Delivery Time</th>
                                <th>Order Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in placed_orders %}
                            <tr>
                                <td>
                                    {{forloop.counter}}
                                </td>
                                <td>
                                    {{ order.orderNo }}
                                </td>
                                <td>
                                    {{ order.orderDate }}
                                </td>
                                <td>
                                    {{ order.schDeliveryDate }}
                                </td>
                                <td>
                                    {{ order.schDeliveryTime }}
                                </td>
                                <td>
                                    {{ order.orderStatus }}
                                </td>
                                <td>
                                    <!-- View Items -->
                                    <a class='btn btn-info btn-sm' href="{% url 'orderdetails' order.orderID %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                                            <path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="7">No order has been placed by you! Want to place orders? <a href="{% url 'shop' %}">Click Here</a> </td></tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" style="text-align: center;">
                                    <a class='btn btn-secondary' href="{% url 'index' %}">
                                        Go Back to Homepage.
                                    </a>
                                </td>
                                <td></td>
                                <td colspan="3" style="text-align: center;">
                                    <a class='btn btn-info' href="{% url 'bulk-buy-orders' %}">
                                        View Bulk Buy Orders
                                    </a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function getorderinvoices(param_order_id){
        alert(param_order_id);
        let url = "{% url 'invoices' 0 %}".replace('0', param_order_id);
        fetch(url)  // Replace with your actual Django view URL
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();  // Parse JSON data
        })
        .then(data => {
            alert(data);
            alert(JSON.stringify(data));
            window.location.reload();
        })
        .catch(error => {
            alert(JSON.stringify(error));
            //console.error('Error fetching data:', error);
        });
    }
    
</script>
{% endblock %}