{% extends 'index.html' %}
{% load static %}
{% block AllItems %}
<style>
    .out-of-stock{
        filter: grayscale(100%);
        opacity: 0.5;
        position: relative;
    }
</style>
<!--carousel-->
{% include "carousel.html" %}
<!---->
<div class="grid-container">
    {% for item in items %}
    <form action="{% url 'add_to_cart' item.itemID %}" method="post">
        {% csrf_token %}
        <div class="{% if item.itemInStock%}card text-center {% else %} card text-center out-of-stock{% endif %}">
            <div class="card-header">
                {{item.itemName}}
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="{{item.itemImg.url}}" class="card-img-top" alt={{item.itemName}} style="height: 8rem; width: 8rem;">
                    </li>
                    <li class="list-group-item">
                        Rs. {{item.itemPrice}}/{{item.itemUnit}}
                    </li>
                    <li class="list-group-item">
                        <div class="dropdown-container">
                            Qty.
                            <select class="form-select form-select-sm" style="width: 4rem; height: 30px" id="selectQty" name="selectQuantity">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                            {{item.itemUnit}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-body-secondary">
                <button type="submit" id={{item.itemID}} name="addItem" class="{% if item.itemInStock%}btn btn-primary btn-sm {% else %} btn btn-primary btn-sm disabled{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>Add
                </button>
            </div>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}