{% extends 'index.html' %}
{% load static %}
{% block checkout%}
<!-- <script>
    function addressClick(){      
       var cb_sameAddress = document.getElementById('cb_sameAddress');
       if(cb_sameAddress.checked)
          {
             document.getElementById('userAddress1').value = document.getElementById('userAddress').value;
             document.getElementById('userCity1').value = document.getElementById('userCity').value;
             document.getElementById('userState1').value = document.getElementById('userState').value;
             document.getElementById('pinCode1').value = document.getElementById('pinCode').value;
             document.getElementById('userAddress1').readOnly = true;
             document.getElementById('userCity1').readOnly = true;
             document.getElementById('userState1').readOnly = true;
             document.getElementById('pinCode1').readOnly = true;
          }
       else
          {
             document.getElementById('userAddress1').value = "";
             document.getElementById('userCity1').value = "";
             document.getElementById('userState1').value = "";
             document.getElementById('pinCode1').value = "";
             document.getElementById('userAddress1').readOnly = false;
             document.getElementById('userCity1').readOnly = false;
             document.getElementById('userState1').readOnly = false;
             document.getElementById('pinCode1').readOnly = false;
          }
    }
 </script> -->
    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>User Details</h4>
                <form method="POST" id="formRegister" class="formRegister" action="{% url 'register-user' %}">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <script>
                        alert("{{ message|escapejs }}");
                    </script>
                    {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="checkout__input">
                                        <p>Usertype<span>*</span></p>
                                        {{userform.userType}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="checkout__input">
                                        <p>UDISE<span><em>(if School)</em></span></p>
                                        {{userform.udise_code}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Name<span>*</span></p>
                                        {{userform.first_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Display Name<span>*</span></p>
                                        {{userform.last_name}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Business Name</p>
                                        {{userform.org_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email</p>
                                        {{userform.email}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="checkout__input">
                                        <p>Phone Number<span>*</span></p>
                                        {{userform.phone}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="checkout__input">
                                        <p>Alternate Phone No.</p>
                                        {{userform.phone1}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="checkout__input">
                                        <p>Place of Supply<span>*</span></p>
                                        {{userform.supply_place}}
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="checkout__input">
                                        <p>GST Treatment<span>*</span></p>
                                        {{userform.gst_tmt}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>GSTIN<span><em>[if Registered Business(Regular/Composition)]</em></span></p>
                                        {{userform.gstin}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                            <h4>Registered Address</h4>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="checkout__input">
                                        <p>PIN Code / ZIP<span>*</span></p>
                                        {{userform.pinCode}}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="checkout__input">
                                        <p>State<span>*</span></p>
                                        {{userform.userState}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>District<span>*</span></p>
                                        {{userform.userDistrict}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Block/Sub District<span>*</span></p>
                                        {{userform.userCity}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>Address<span>*</span></p>
                                        {{userform.userAddress}}
                                    </div>
                                </div>
                            </div>
                            
                            <!-- <div class="checkout__input__checkbox">
                                <label for="cb_sameAddress">
                                    Same Shipping Address?
                                    <input type="checkbox" id="cb_sameAddress" onclick="addressClick()">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <h4>Shipping Address</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Address<span>*</span></p>
                                        {{userform.userAddress1}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Town/City<span>*</span></p>
                                        {{userform.userCity1}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>State<span>*</span></p>
                                        {{userform.userState1}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Postcode / ZIP<span>*</span></p>
                                        {{userform.pinCode1}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>User notes (if any)</p>
                                        {{userform.userNote}}
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="button" class="site-btn" style="background-color: red;">CANCEL</button>
                                    <button type="submit" class="site-btn">{% if user.is_authenticated %}UPDATE{% else %}REGISTER{% endif %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
<script>
window.onload = function () {
  document.getElementById('udise_code').disabled = true;
};
document.getElementById('userType').addEventListener("change", function(){
    if(this.value == "3"){
        document.getElementById('udise_code').disabled = false;
    }
    else{
        document.getElementById('udise_code').disabled = true;
    }
});

document.getElementById("udise_code").addEventListener("blur", function(event) {
    const form = event.target.closest(".formRegister");
    checkUserType(form);
});
function checkUserType(form){
    const userType=document.getElementById('userType').value;
    if(userType == 3){
        const udise_code=document.getElementById('udise_code').value;
        var udise_len = document.getElementById('udise_code').value.length;
        if(udise_len < 11){
            alert('Please enter valid UDISE Code!');
        }
        else{
            let url = "{% url 'fetch-school' 0 %}".replace('0', udise_code);
            fetch(url)  // Replace with your actual Django view URL
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();  // Parse JSON data
            })
            .then(data => {
                document.getElementById('first_name').value = JSON.stringify(data['school_name']).replace('"','').replace('"','').trim();
                document.getElementById('last_name').value = JSON.stringify(data['school_name']).replace('"','').replace('"','').trim();
                document.getElementById('org_name').value = JSON.stringify(data['school_name']).replace('"','').replace('"','').trim();
                document.getElementById('supply_place').value = JSON.stringify(data['state_name']).replace('"','').replace('"','').trim();
                document.getElementById('userState').value = JSON.stringify(data['state_name']).replace('"','').replace('"','').trim();
                let district = JSON.stringify(data['district_name']).replace('"','').replace('"','').trim();
                let sub_district = JSON.stringify(data['sub_dist_name']).replace('"','').replace('"','');
                fetch_districts(document.getElementById('userState').value,district,sub_district, form);
                document.getElementById('userCity').value = JSON.stringify(data['sub_dist_name']).replace('"','').replace('"','');
                document.getElementById('userAddress').value = JSON.stringify(data['village_name']).replace('"','').replace('"','').trim();
            })
            .catch(error => {
                console.error(error);
                alert(JSON.stringify("Invalid UDISE Code"));
                //console.error('Error fetching data:', error);
            });
        }
    }
}
document.getElementById("gstin").addEventListener("blur", function() {
    check_gstin();
});
function check_gstin(){
    const gst_tmt = document.getElementById('gst_tmt').value;
    if(gst_tmt == 1 || gst_tmt == 2){
        const gstin = document.getElementById('gstin').value;
        const gstin_length = document.getElementById('gstin').value.length;
        if(gstin_length < 15 || gstin_length > 15){
            alert('Please, enter valid GSTIN!');
        }
    }
}

document.querySelectorAll(".pinCode").forEach(function (input) {
    input.addEventListener("blur", function (event) {
        const form = event.target.closest(".formRegister");
        if (form) {
            // Now 'form' refers to the specific form this input is in
            const pincode = event.target.value;
            // You can now call:
            const form = event.target.closest(".formRegister");
            //var pincode = document.getElementById('pinCode').value;
            var postal_api = "https://api.postalpincode.in/pincode/"+pincode;
            fetch(postal_api)
            .then(response => response.json())
            .then(data => {
                const select_userstate = document.getElementById("userState");

                var postal_data = data;
                if (postal_data[0]['Status'] == "Error"){
                    alert('Pin Code not found!');
                    return;
                }
                else{
                    var state = postal_data[0]['PostOffice'][0]['Circle'];
                    for (let i = 0; i < select_userstate.options.length; i++) {
                        if (select_userstate.options[i].text === state) {
                            select_userstate.selectedIndex = i;
                            break;
                        }
                    }
                }
                

                var statecode = document.getElementById("userState").value;
                var district = postal_data[0]['PostOffice'][0]['District'];
                var sub_district = postal_data[0]['PostOffice'][0]['Block'];
                fetch_districts(statecode, district, sub_district,form);
            })
            .catch(error => {
                console.log(error);
            })
        }
    });
});

// document.getElementById("pinCode").addEventListener("blur", function() {
    
//     const form = inputElement.closest(".formRegister");
//     var pincode = document.getElementById('pinCode').value;
//     var postal_api = "https://api.postalpincode.in/pincode/"+pincode;
//     fetch(postal_api)
//     .then(response => response.json())
//     .then(data => {
//         const select_userstate = document.getElementById("userState");

//         var postal_data = data;
//         if (postal_data[0]['Status'] == "Error"){
//             alert('Pin Code not found!');
//             return;
//         }
//         else{
//             var state = postal_data[0]['PostOffice'][0]['Circle'];
//             for (let i = 0; i < select_userstate.options.length; i++) {
//                 if (select_userstate.options[i].text === state) {
//                     select_userstate.selectedIndex = i;
//                     break;
//                 }
//             }
//         }
        

//         var statecode = document.getElementById("userState").value;
//         var district = postal_data[0]['PostOffice'][0]['District'];
//         var sub_district = postal_data[0]['PostOffice'][0]['Block'];
//         fetch_districts(statecode, district, sub_district);
//     })
//     .catch(error => {
//         console.log(error);
//     })
// });

// document.getElementById("userState").addEventListener("blur", function() {
//     var statecode = document.getElementById("userState").value;
//     fetch_districts(statecode,'');
// });

// document.getElementById("userDistrict").addEventListener("blur", function() {
//     var statecode = document.getElementById("userState").value;
//     var districtcode = document.getElementById("userDistrict").value;
//     fetch_subdistricts(statecode, districtcode);
// });

document.getElementById("first_name").addEventListener("keydown", function() {
    document.getElementById("last_name").value = document.getElementById("first_name").value;
});

</script>
{% endblock %}