{% extends 'index.html' %}
{% block reset_password %}
<div class="container text-left" style="background-color: transparent;">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header text-align-left">Reset Password</h5>
                <div class="card-body text-center">
                    <form method="post" action="{% url 'resetpassword' %}">
                        {% csrf_token %}
                        <div class="row" style="margin-bottom: 2px;">
                            <div class="col-md-4">
                                Username
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="username" value="{{username}}" {% if username %}readonly{% endif%}>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 2px;">
                            <div class="col-md-4">
                                Phone Number
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="phone" value="{{phone}}" {% if phone %}readonly{% endif%}>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 2px;">
                            <div class="col-md-4">
                                Email
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="email" value="{{email}}">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 2px;">
                            <div class="col-md-4">
                                New Password
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="password">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 2px;">
                            <div class="col-md-4">
                                Confirm Password
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="password1">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 2px;">
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-info" >
                                    Reset Password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}