{% extends 'index.html' %}
{% load static %}
{% block shoppingcart %}
<style>
    .out-of-stock{
        /* filter: grayscale(100%); */
        opacity: 0.5;
        position: relative;
        pointer-events: none;
        color: red;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
    }
    sup{
        color: red;
    }
    .item_qty_div{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 6px;
        width: fit-content;
        background-color: #f9f9f9;
    }
    .btn_qty{
        padding: 4px 10px;
        font-size: 16px;
        border: none;
        background-color: #e0e0e0;
        cursor: pointer;
        border-radius: 4px;
    }
    .input_qty{
        width: 50px;
        text-align: center;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }
</style>
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table id="itemTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item Image</th>
                                    <th class="shoping__product">Name</th>
                                    <th>Price (in ₹)</th>
                                    <th>Qty.</th>
                                    <th>Total (in ₹)</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart %}
                                <form method="post" id="ordereditemform">
                                    {% csrf_token %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        {% if item.product.itemInStock %}
                                        <img src="{{item.product.itemImg.url}}" alt="" height="50px" width="50px">
                                        {%else%}
                                        <img src="{{item.product.itemImg.url}}" class="out-of-stock" alt="" height="50px" width="50px">
                                        {% endif %}
                                    </td>
                                    <td class="shoping__cart__item">
                                        {% if item.product.itemInStock %}
                                        {{item.product.itemName}}
                                        {%else%}
                                        {{item.product.itemName}}<strong style="color: red;"> (Out of Stock)</strong>
                                        {% endif %}
                                        <span class="form-text">
                                            Sold By: {{ item.product.userID.first_name }}
                                        </span>
                                    </td>
                                    <td class="shoping__cart__price">
                                        {{ item.price }}
                                    </td>
                                    <td>
                                        <div class="item_qty_div">
                                            <button type="button" class="btn_qty" onclick="changeQuantity(this, -1)">−</button>
                                            <input type="text" class="input_qty" data-item-id="{{item.product.itemID}}" name="selectQuantity" value="{{ item.quantity }}" min="1" style="width: 60px; text-align: center;">
                                            <button type="button" class="btn_qty" onclick="changeQuantity(this, 1)">+</button>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        {{ item.total_price }}
                                    </td>
                                    <td>
                                        <a href="{% url 'remove_from_cart' item.product.itemID %}" class="inline-flex items-center justify-center px-3 py-2 bg-red-600 text-white rounded hover:bg-red-700">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                </form>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" style="color: red;">
                                        {% if item_stock == False %}
                                        <sup>*</sup> Remove the Out of Stock Item to Proceed for Order.
                                        {% endif %}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="{% url 'shop' %}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <!-- <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                            Upadate Cart</a> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <!-- <h5>Discount Codes</h5>
                            <form action="#">
                                <input type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form> -->
                            <h5>Billing Address</h5>
                            <ol>
                                {% for bill_address in billing_addresses %}
                                <li>
                                    <label>
                                        {% for state_code in states %}
                                        {% if state_code.0 == bill_address.userState %}
                                        {% if bill_address.setDefault %}
                                            <input type="radio" name="bill_address" value="{{bill_address.id}}" checked>{{bill_address.userAddress}}, {{bill_address.userCity}}, {{state_code.1}}, {{bill_address.pinCode}}
                                        {% else %}
                                        <input type="radio" name="bill_address" value="{{bill_address.id}}">{{bill_address.userAddress}}, {{bill_address.userCity}}, {{state_code.1}}, {{bill_address.pinCode}}
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </label>
                                </li>
                                {% endfor %}
                            </ol>
                            <h5>Shipping Address</h5>
                            <ol>
                                {% for ship_address in shipping_addresses %}
                                <li>
                                    <label>
                                        {% for state_code in states %}
                                        {% if state_code.0 == ship_address.userState1 %}
                                        {% if ship_address.setDefault %}
                                            <input type="radio" name="ship_address" value="{{ship_address.id}}" checked>{{ship_address.userAddress1}}, {{ship_address.userCity1}}, {{state_code.1}}, {{ship_address.pinCode1}}
                                        {% else %}
                                        <input type="radio" name="ship_address" value="{{ship_address.id}}">{{ship_address.userAddress1}}, {{ship_address.userCity1}}, {{state_code.1}}, {{ship_address.pinCode1}}
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </label>
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                        {% if user_authenticated %}
                        <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" onclick="openModal('modalAddAddress')">Add Address</button>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <form method="post" id="orderForm" action="{% if user_authenticated %}{% url 'createorder' transportation_cost total_price gst_amount deduction_amount %}{% else %}{% url 'login' %}{% endif %}"> <!--cart.total_quantity cart.total_price-->
                        {% csrf_token %}
                        <div class="shoping__checkout">
                            <h5>Cart Total</h5>
                            <ul>
                                <li>Total Qty.<span>{{ total_qty }}</span></li>
                                <li>Subtotal <span>₹{{ total_price }}</span></li>
                                <li>Delivery Charges<span>₹{{transportation_cost}}.00</span></li>
                                <li>Total <span>₹{{ grand_total }}</span></li>
                                <li>Schedule Date
                                    <span>
                                        <select id="selectDeliveryDate" name="selectDeliveryDate" style="font-size: 12px; height: 30px; width: 130px;">
                                            {% for date in dateSeries %}
                                            <option value="{{date}}">
                                                {{date}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                </li>
                                <li>Schedule Time
                                    <span>
                                        <select id="selectDeliveryTime" name="selectDeliveryTime" style="font-size: 12px; height: 30px; width: 120px;">
                                            {% for time in timeSeries %}
                                            <option value="{{time}}">
                                                {{time}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                </li>
                            </ul>
                            <strong>Order Note</strong>
                            <textarea style="width: 100%; height: 100px;" name="orderNote" placeholder="Remark/Comment/Note"></textarea>
                            <ul>
                                <li>Select Payment Method
                                   <span>
                                    {% if user_type == '3' %}
                                    <select id="selectPaymentMethod" name="selectPaymentMethod" style="font-size: 12px; height: 30px; width: 120px;">
                                        <option value="1">Cash On Delivery</option>
                                        <option value="2">Institutional Credits</option>
                                        <option value="3">Pay Online</option>
                                    </select>
                                    {% else %}
                                    <select id="selectPaymentMethod" name="selectPaymentMethod" style="font-size: 12px; height: 30px; width: 120px;">
                                        <option value="1">Cash On Delivery</option>
                                        <option value="3">Pay Online</option>
                                    </select>
                                    {% endif %}
                                   </span>
                                </li>
                                <li>
                                    {% if item_stock %}
                                    <button type="submit" class="primary-btn" id="buyButton">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                                            <path d="m480-560-56-56 63-64H320v-80h167l-64-64 57-56 160 160-160 160ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/>
                                        </svg>
                                        PROCEED TO CHECKOUT
                                    </button>
                                    {% else %}
                                    <button type="submit" class="primary-btn out-of-stock" id="buyButton">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                                            <path d="m480-560-56-56 63-64H320v-80h167l-64-64 57-56 160 160-160 160ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/>
                                        </svg>
                                        PROCEED TO CHECKOUT
                                    </button>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
    <div class="modal-overlay" id="modalAddAddress">
        <div class="modal-box">
          <div id="modal-content">
            {% include 'add-address.html'%}
          </div>
        </div>
    </div>
    <style>
        /* Modal background */
        .modal-overlay {
            display: none;
            position: fixed;
            top: 0; left: 0; right: 0; bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
            justify-content: center;
            align-items: center;
        }
    
        /* Modal box */
        .modal-box {
            background: white;
            padding: 20px;
            border-radius: 10px;
            max-width: 1000px;
            text-align: center;
            position: relative;
        }
    
        .modal-box h2 {
            margin-top: 0;
        }
    
        .close-btn {
            position: absolute;
            top: 10px; right: 15px;
            cursor: pointer;
            font-size: 20px;
            border: none;
            background: none;
            background: #ef0808;
        }
    
        .btn {
            padding: 8px 16px;
            margin-top: 10px;
            background: #3498db;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }
    
        .btn:hover {
            background: #2980b9;
        }
    </style>
    <script>
      function openModal(modalID) {
          document.getElementById(modalID).style.display = 'flex';
      }
    
      function closeModal(modalID) {
          document.getElementById(modalID).style.display = 'none';
      }

      function getCSRFToken() {
            const name = 'csrftoken';
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
            cookie = cookie.trim();
            if (cookie.startsWith(name + '=')) {
                return decodeURIComponent(cookie.substring(name.length + 1));
            }
            }
            return null;
        }

      function changeQuantity(button, amount) {
            const row = button.closest("tr");
            const input = row.querySelector("input[name='selectQuantity']");
            let itemID = input.dataset.itemId;
            let current = parseInt(input.value) || 1;
            current += amount;
            if (current < parseInt(input.min)) current = parseInt(input.min);
            input.value = current;


            const csrfToken = getCSRFToken();
            let url = "{% url 'update_cart' %}";

            fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken()
            },
            body: JSON.stringify({
                item_id: itemID,
                quantity: current
            })
            })
            .then(response => {
            if (!response.ok) {
                // Not a 200 OK response
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            //return response.json();  // Only parse if it's valid JSON
            })
            .then(data => {
                console.log("Success:", data);
                window.location.reload();
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }

        document.getElementById("orderForm").addEventListener("submit", function(event) {
            const tableBody = document.querySelector("#itemTable tbody");
            const rowCount = tableBody.getElementsByTagName("tr").length;
            console.log(tableBody);
            if (rowCount === 0) {
                event.preventDefault();  // Prevent form submission
                alert("There is no item to place order! Please add item to proceed.");
            }
        });
    </script>
{% endblock %}
