{% extends 'index.html' %}
{% load static %}
{% block shoppingcart %}
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="width: 300px;">Item Image</th>
                                    <th class="shoping__product">Name</th>
                                    <th>Price (in ₹)</th>
                                    <th>Qty.</th>
                                    <th>Total (in ₹)</th>
                                    <th>Update</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart %}
                                <form method="post" id="ordereditemform" action="{% url 'update_cart' item.product.itemID %}">
                                    {% csrf_token %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><img src="{{item.product.itemImg.url}}" alt="" height="50px" width="50px" style="padding: 5px 5px 5px 5px;"></td>
                                    <td class="shoping__cart__item">
                                        {{item.product.itemName}}
                                        <span class="form-text">
                                            Sold By: {{ item.product.userID.first_name }}
                                         </span>
                                    </td>
                                    <td class="shoping__cart__price">
                                        {{ item.price }}
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="{{ item.quantity }}" name="selectQuantity">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        {{ item.total_price }}
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <button type="submit" id={{item.itemID}} name="updateItem" class="btn btn-info btn-sm">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                                                <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/>
                                            </svg>
                                        </button>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="{% url 'remove_from_cart' item.product.itemID %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                </form>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="{% url 'shop' %}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <!-- <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                            Upadate Cart</a> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <!-- <h5>Discount Codes</h5>
                            <form action="#">
                                <input type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form> -->
                            {% if billing_address != None %}
                            <h5>Billing Address</h5>
                            {{billing_address}}
                            <h5>Shipping Address</h5>
                            <ol>
                                {% for address in shipping_addresses %}
                                <li>
                                    <label>
                                        {% if address.setDefault %}
                                            <input type="radio" name="address" value="{{address.id}}" checked>{{address.userAddress1}}, {{address.userCity1}}, {{address.userState1}}, {{address.pinCode1}}
                                        {% else %}
                                        <input type="radio" name="address" value="{{address.id}}">{{address.userAddress1}}, {{address.userCity1}}, {{address.userState1}}, {{address.pinCode1}}
                                        {% endif %}
                                    </label>
                                </li>
                                {% endfor %}
                            </ol>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form method="post" id="orderForm" action="{% if user_authenticated %}{% url 'createorder' transportation_cost total_price gst_amount deduction_amount %}{% else %}{% url 'login' %}{% endif %}"> <!--cart.total_quantity cart.total_price-->
                        {% csrf_token %}
                        <div class="shoping__checkout">
                            <h5>Cart Total</h5>
                            <ul>
                                <li>Total Qty.<span>{{ total_qty }}</span></li>
                                <li>Subtotal <span>₹{{ total_price }}</span></li>
                                <li>Transportation Charge<span>₹{{transportation_cost}}.00</span></li>
                                <li>Total <span>₹{{ grand_total }}</span></li>
                                <li>Schedule Date
                                    <span>
                                        <select id="selectDeliveryDate" name="selectDeliveryDate" style="font-size: 12px; height: 30px; width: 130px;">
                                            {% for date in dateSeries %}
                                            <option value="{{date}}">
                                                {{date}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                </li>
                                <li>Schedule Time
                                    <span>
                                        <select id="selectDeliveryTime" name="selectDeliveryTime" style="font-size: 12px; height: 30px; width: 120px;">
                                            {% for time in timeSeries %}
                                            <option value="{{time}}">
                                                {{time}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </span>
                                </li>
                            </ul>
                            <strong>Order Note</strong>
                            <textarea style="width: 100%; height: 100px;" name="orderNote" placeholder="Remark/Comment/Note"></textarea>
                            <button type="submit" class="primary-btn" id="buyButton">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                                    <path d="m480-560-56-56 63-64H320v-80h167l-64-64 57-56 160 160-160 160ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/>
                                </svg>
                                PROCEED TO CHECKOUT
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
{% endblock %}
