{% extends 'index.html' %}
{% load static %}
{% block shopgrid %}
<style>
    .mixitup-control-active{
        font-weight: bold;
    }
    li.active{
        font-weight: bold;
    }
    .out-of-stock{
        /* filter: grayscale(100%); */
        opacity: 0.5;
        position: relative;
        pointer-events: none;
        color: red;
        font-size: 24px;
        font-weight: bold;
        border-radius: 5px;
    }
</style>
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Shop by Category</h4>
                            <ul>
                                <li class="active" data-filter="*" style="cursor: pointer;">All Categories</li>
                                {% regroup items|dictsort:"itemCat" by itemCat as categories_list %}
                                {% for category in categories_list %}
                                <li data-filter=".{{category.grouper|cut:' '}}" style="cursor: pointer;">{{category.grouper}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>Shop by FPO</h4>
                            <ul>
                                <li class="active"><a href="{% url 'shop' %}">All FPOs</a></li>
                                {% for fpo in fpo_list %}
                                <li><a href="{% url 'shop-fpo' fpo.id %}">{{fpo.last_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <!-- <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="{{min_price}}" data-max="{{max_price}}">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <!-- <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="img/latest-product/lp-1.jpg" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>₹30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="img/latest-product/lp-2.jpg" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>₹30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="img/latest-product/lp-3.jpg" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>₹30.00</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="img/latest-product/lp-1.jpg" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>₹30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="img/latest-product/lp-2.jpg" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>₹30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="img/latest-product/lp-3.jpg" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>₹30.00</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    {% if pincode_area != '' %}<p>Showing Products from <strong>{{pincode_area}}</strong></p>{% else %}{% endif %}
                    <!-- <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                {% for item in items %}
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="{{item.itemImg.url}}">
                                            <div class="product__discount__percent">-20</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-list"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>{{item.itemCat}}</span>
                                            <h5><a href="#">{{item.itemName}}</a></h5>
                                            <div class="product__item__price">₹{{item.itemPrice|add:-20}} <span>₹{{item.itemPrice}}</span></div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div> -->
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By Price</span>
                                    <div class="sort-buttons mb-3">
                                        <a href="?sort=default" class="btn btn-outline-secondary btn-sm {% if not item_sort or item_sort == 'default' %} active {% endif %}">Default</a>
                                        <a href="?sort=price_asc" class="btn btn-outline-secondary btn-sm {% if item_sort == 'price_asc' %} active {% endif %}">Low to High</a>
                                        <a href="?sort=price_desc" class="btn btn-outline-secondary btn-sm {% if item_sort == 'price_desc' %} active {% endif %}">High to Low</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>{{items|length}}</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <!-- <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div> -->
                                <div class="filter__found">
                                    <h6><span>{{fpo_name}}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row featured__filter">
                        {% for item in items %}
                        <div class="col-lg-4 col-md-6 col-sm-6 mix {{item.itemCat|cut:' '}}">
                            {% if item.itemInStock%}
                            <div class="product__item">
                            {% else %}
                            <div class="product__item out-of-stock">
                                Out of Stock
                            {% endif %}
                                <div class="product__item__pic set-bg" data-setbg="{{item.itemImg.url}}" onclick="itemRedirect('{{item.itemID}}')" style="cursor: pointer;">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="{% url 'shopdetails' item.itemID %}"><i class="fa fa-list"></i></a></li>
                                    <li><a href="{% url 'add_to_cart' item.itemID %}?source=shop"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'shopdetails' item.itemID %}">{{item.itemName}}</a></h6>
                                    <h5>₹{{item.itemPrice}}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
     <script>
        function itemRedirect(itemID){
            var url = "{% url 'shopdetails' 0 %}".replace('0', itemID);
            location.href=url;
        }
     </script>
{% endblock %}